html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../dist/css/main.min.css
        title Home
    body 
        header 
            div.menu-btn 
                span.menu-btn__burger

            nav.nav 
                ul.menu-nav 
                    li.menu-nav__item.active 
                        a(href="/").menu-nav__link Home
                    li.menu-nav__item
                        a(href="services").menu-nav__link Our Services
                    li.menu-nav__item
                        a(href="contact").menu-nav__link Contact us 
        main 
            section.home  
                h2 Hi! My Name is 
                h1.home__name john 
                    span.home__name--last Doe 
                h2 Backend Developer 
                        
        include footer.pug 

        script 
            include ../dist/js/main.js 